export TURBO_USERNAME="username"
export TURBO_PASSWORD="password"
export TURBO_URL="https://turbonomic.mycompany.com"
export POD_SEARCH_QUERY='{"types":"Group","group_type":"ContainerPod"}'
export POD_GROUPS_TO_EXCLUDE='["Deployment/All Pods", "DaemonSet/All Pods", "StatefulSet/All Pods"]'